RewriteEngine On
RewriteRule ^$ https://services.monitoringdefectdetection.masuk.web.id:8888/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ https://services.monitoringdefectdetection.masuk.web.id:8888/$1 [P,L]